* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }
.titulo h1{
	font-family: NovaRegular;
	color:#002366 ;
	font-size: 44px;
	padding-bottom: 2%;
	padding-top: 2%;
}
.titulo h5{ 
	color:#616161;
	font-size: 24px;
	text-align: left;
	padding-left: 22%;
}
.titulo p{
	font-family: NovaRegular; 
	color:#616161;
	font-size: 18px;
	padding-right: 15%;
	padding-top: 2%;
	padding-left: 5%;
}
.comilla{
	position: absolute;
	left: 18%;
	top: 7%;
}
.comillas{
  -webkit-transform: rotate(180deg);
}
.envolve{
	background:url(../img/background-about-us.jpg)no-repeat;
	padding:3%;
	color: white;
	background-size: cover;
	margin-bottom: 4%;
}
.boton{
	padding: 1% 3%;
	text-decoration: none;
	background-color: #002366;
	color: white;
	border-radius: 4%;
}
.envolve p{
	margin-top: 3%;
	padding-left: 21%;
	padding-right: 21%;
	margin-bottom: 4%;
	font-size: 18px;
}
.envolve h2{
	font-size: 30px;
	padding-bottom: 2%;
}
.pregunta h5{
	font-size: 20px;
}
.title{
	margin-top: 15px;
	padding-left: 18%;
	padding-right: 18%;
	font-size: 18px;
	padding-bottom: 2%;
}
a:hover{
	background-color: #2496C1;
	text-decoration: none;
	border:1px solid #2496C1;
}
.parrafo{
	color: #002366;
	padding-left: 25%;
	padding-right: 25%;
}
.apply{
	padding: 2% 6%;
	text-decoration: none;
	border:1px solid white;
	color: white;
	border-radius: 4%;
}
.bn{
	padding: 2% 10%;
}
.manag{
	color: #002366;
}
.color{
	background-color:#F6F6F6;
	padding-bottom: 3%;
}
.fin{
	border-bottom: 2px solid #E0E0E0;
}
.color h2{
	color: #153573;
}
.imagenes{
	background-color: white;
	margin: 1%;
	height: 20%;
	border:1px solid white;
}
.imagenes a{
	color: black;
}
@media(max-width: 932px){
	.comilla{
	position: absolute;
	left: 45%;
	top: 1%;
}
.comillas{
	position: relative;
	bottom: -28px;
	right: 15%;
}
.titulo h5{ 
	color:#616161;
	font-size: 24px;
	text-align: center;
	padding-left: 0%;
	padding-top: 5%;
}
.titulo p{
 	text-align: center;
	padding-top: 3%;
	padding-right: 0%;
}
.envolve p{
	margin-top: 3%;
	padding-left: 0%;
	padding-right: 0%;
	font-size: 18px;
}
.parrafo{
	padding-left: 10%;
	padding-right: 10%;
	font-size: 25px;
}
.apply{
	padding: 3% 30%;
}
.title{
	padding-top: 15px;
	padding-left: 7%;
	padding-right: 7%;
	font-size: 18px;
	padding-bottom: 2%;
}
.carrers{
	font-size: 20px;
	padding: 4% 40%;
}
.imagenes img{
	border:1px solid black;
	margin: 1%;
}
.imagenes p{
	padding-left: 10%;
	padding-right: 10%;
}
.pregunta h5{
	font-size: 20px;
	padding-bottom: 5%;
	padding-top: 5%;
}
}