
/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

*{

	font-family: "NovaRegular";

}

@font-face{
	font-family: NovaBold;
	src: url(../fonts/proxima_nova/proximanova-bold-webfont.ttf);
}
@font-face{
	font-family:Novalight ;
	src: url(../fonts/proxima_nova/proximanova-light-webfont.ttf);
}
@font-face{
	font-family: NovaRegitalic;
	src: url(../fonts/proxima_nova/proximanova-regitalic-webfont.ttf);
}
@font-face{
	font-family: NovaRegular;
	src: url(../fonts/proxima_nova/proximanova-regular-webfont.ttf);
}
@font-face{
	font-family: NovaSemibold;
	src: url(../fonts/proxima_nova/proximaNova-Semibold.ttf);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.lh{
	line-height: 1.5;
}
.contenedor{
	width: 1024px;
	margin:auto;
}
header{
	border-bottom: 2px solid #E0E0E0;
}
#principal{
	max-width: 70%;
	margin:0 auto;
	
}


#principal nav a{
	text-decoration: none;
	color:#000;
	padding: 10px;
	line-height: 4.7;
	font-size: 1.1em;
}

#principal nav a:hover{
	background-color: #002366;
	color:#f6f6f6;
}
footer{
	color:#979797;
	padding-bottom: 20px;
}
footer a{
	text-decoration: none;
	color:#000;
	padding:2%;
	line-height: 3;
	color:#979797;
}

footer a:hover{
	text-decoration: underline;
}

footer p{
	font-size: 0.9em;
}
footer ul li{
	display: inline-block;
	padding-right:5px;
}

footer ul li img{
	vertical-align: bottom;
}

.negrita{
	color:#000;
	padding:2% 0.5%;
	font-size: 1.1em;

}