.banner{
	background: url(../img/hero-image.jpg)no-repeat;
	color:#f6f6f6;
	font-size:2.5em;
	letter-spacing:2px;
	padding:5%;

}
.banner p{
	width: 60%;
	display: inline-block;
	margin:8% auto;
}
.banner img{
	display: block;
	margin-left: 50%;
}
#informacion{
	width: 70%;
	margin: 0 auto;
}
#informacion p:first-child{
	width: 70%;
	margin:3% auto;
	line-height: 2;
	font-size: 1.2em;
}

#informacion p:nth-child(2){
	width: 55%;
	color: #002366;
	font-size: 1.6em;
	line-height: 2;
	margin:3% auto;
}

.item{
	width: 100%;

	padding: 10% 1%;
	border:1px solid #979797;

}
.item *{
	padding:3%;
}
.i_dos{
	padding-bottom: 72px;
	color: green;
}
.i_tres{
	padding-bottom: 48px;
	color: green;
}

.mg5{
	margin-bottom: 7%;
}

.item p{
	font-family: NovaRegular;
	font-size: 1em;
	line-height: 1.5;
}

/*------*/
#contactus{
	background: url(../img/background_contactus.jpg)no-repeat;
	color:#f6f6f6;
	background-size: 100% 200%;

}
#contactus h1{
	padding:5% 0 3%;
	font-size: 2.5rem;
}
#contactus p{
	width: 50%;
	color:#fff;
	font-size: 2rem;
	line-height: 1.5;
	padding-bottom: 1%;
	margin:0 auto;
}
#contactus input{
	width: 70%;
	height: 45px;
	
	text-align: center;
	font-size: 1.8rem;
}
#contactus button{
	border:none;
	background-color: #179AD6;
	height: 40px;
	width: 150px;
	color:#f6f6f6;
	margin-bottom: 5%;
	font-size: 1.2rem;
}
